.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 34px;
  flex-direction: column;
  align-items: center;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 480px) {
  .card-list {
    justify-content: space-around;
    margin-top: 56px;
  }
}

@media only screen and (min-width: 720px) {
  .card-list {
    margin-top: 74px;
  }
}

@media only screen and (min-width: 1024px) {
  .card-list {
    margin-top: 66px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  .card {
    margin-right: 19px;
    margin-left: 19px;
    margin-bottom: 78px;
  }
}

@media only screen and (min-width: 1366px) {
  .card-list {
    margin-top: 85px;
  }
}

@media only screen and (min-width: 1920px) {
  .card-list {
    margin-top: 108px;
  }
}
