.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 480px) {
  .card-list {
    justify-content: space-around;
    margin-top: 56px;
  }
}

@media only screen and (min-width: 720px) {
  .card-list {
    margin-top: 74px;
  }
}
