.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}

@media only screen and (min-width: 720px) {
  .card-list {
    justify-content: space-around;
  }
}
