.input {
  background-color: #ffd475;
  width: 185px;
  height: 21px;
  border-radius: 20px;
  border: 1px solid #707070;
  margin-top: 22px;
  font-family: "Ravie";
  padding-left: 10px;
  font-size: 12px;
  padding-right: 20px;
}
.main-h1 {
  font-family: "Ravie";
  margin-top: 23px;
  color: #ff6f00;
  font-size: 23px;
}

.search-button {
  height: 21px;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  color: #ff6f00;
  border: 1px solid #707070;
  width: 98px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Ravie";
  background-color: #ffd475;
  border-radius: 110px 116px;
  padding-bottom: 20px;
}

span {
  position: relative;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  top: 2px;
  color: blue;
  font-weight: 500;
  cursor: pointer;
  color: #ff6f00;
  display: inline-block;
}

@media only screen and (min-width: 720px) {
  .input {
    width: 420px;
    margin: 10px;
  }
  span {
    right: 45px;
  }
}

/* @media only screen and (max-width: 480px) {
  .input {
    width: 320px;
  }
}
@media only screen and (max-width: 360px) {
  .input {
    width: 280px;
  }
}  */
