.input {
  background-color: #ffd475;
  width: 225px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid #707070;
  margin-top: 22px;
  font-family: "Ravie";
  padding-left: 15px;
  font-size: 12px;
  padding-right: 30px;
  color: #ff6f00;
  font-size: 16px;
  margin-right: -10px;
}
.input::placeholder {
  color: #ff6f00;
  opacity: 0.8;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input:focus {
  outline: none;
}
.main-h1 {
  font-family: "Ravie";
  margin-top: 26px;
  color: #ff6f00;
  font-size: 30px;
  text-decoration: none;
}
.bookshelf {
  margin-top: 43px;
  font-size: 20px;
  font-family: "Ravie";
  text-decoration: none;
  color: #c45806;
  background-color: #ffbe2d;
  border: 1px solid #707070;
  width: 225px;
  height: 38px;
  border-radius: 20px;
  padding-top: 5px;
}

.search-button {
  height: 38px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding-top: 5px;
  color: #ff6f00;
  border: 1px solid #707070;
  width: 147px;
  margin-top: 10px;
  border-radius: 10px;
  font-family: "Ravie";
  background-color: #ffd475;
  border-radius: 110px 116px;
  padding-bottom: 20px;
  outline: none;
  text-decoration: none;
}

span {
  position: relative;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  top: 2px;
  color: blue;
  font-weight: 500;
  cursor: pointer;
  color: #ff6f00;
  display: inline-block;
}

@media only screen and (min-width: 480px) {
  .main-h1 {
    font-size: 40px;
    margin-top: 30px;
  }
  .bookshelf {
    width: 308px;
    height: 50px;
    font-size: 28px;
    margin-top: 38px;
  }
  .input {
    width: 275px;
    height: 45px;
    margin-top: 44px;
    font-size: 25px;
    padding-right: 45px;
    margin-right: -15px;
  }
  span {
    font-size: 25px;
  }
  .search-button {
    width: 180px;
    height: 45px;
    font-size: 25px;
    padding-bottom: 25px;
    margin-top: 16px;
  }
}

@media only screen and (min-width: 720px) {
  .header {
    flex-direction: row;
  }
  .main-h1 {
    font-size: 46px;
    margin-top: 32px;
    margin-right: 19px;
  }
  .bookshelf {
    margin: 39px 0 0 0;
    width: 284px;
    height: 42px;
    font-size: 27px;
    padding-top: 2px;
  }
  .input {
    width: 368px;
    height: 45px;
    font-size: 25px;
    position: relative;
    display: inline-block;
  }
  .search-button {
    font-size: 25px;
    display: inline-block;
    margin-left: 15px;
    width: 180px;
    height: 45px;
    /* padding-top: 10px; */
  }
  span {
    right: 30px;
    font-size: 30px;
  }
}
/* @media only screen and (min-width: 768px) {
  .main-h1 {
    font-size: 44px;
  }
  .input {
    margin-top: 58px;
    width: 278px;
    height: 37px;
  }
  .search-button {
    width: 141px;
    line-height: 33px;
    height: 37px;
    font-size: 20px;
    padding-bottom: 5px;
    display: inline-block;
  }
  span {
    font-size: 22px;
    font-weight: 700;
  }
} */

@media only screen and (min-width: 1024px) {
  .main-h1 {
    margin-top: 44px;
    font-size: 65px;
  }
  .bookshelf {
    width: 334px;
    height: 45px;
    font-size: 32px;
    margin-top: 60px;
  }
  .header {
    justify-content: space-around;
  }
  .input {
    margin-top: 58px;
    width: 425px;
    height: 50px;
    font-size: 28px;
  }
  span {
    font-size: 35px;
  }
  .search-button {
    width: 187px;
    height: 50px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1366px) {
  .main-h1 {
    font-size: 80px;
    margin-top: 59px;
  }
  .bookshelf {
    width: 415px;
    height: 50px;
    font-size: 38px;
  }
  .input {
    width: 480px;
    height: 53px;
    margin-top: 82px;
    font-size: 35px;
  }
  .search-button {
    width: 234px;
    height: 53px;
    margin-left: 47px;
    font-size: 35px;
  }
}

@media only screen and (min-width: 1920px) {
  .main-h1 {
    margin-top: 95px;
    font-size: 90px;
  }
  .bookshelf {
    width: 497px;
    height: 55px;
    font-size: 42px;
    margin-top: 125px;
  }
  .input {
    margin-top: 118px;
    width: 599px;
    height: 60px;
    font-size: 40px;
    padding-left: 20px;
    padding-right: 55px;
  }
  span {
    font-size: 45px;
  }
  .search-button {
    width: 280px;
    height: 60px;
    font-size: 40px;
    margin-left: 95px;
  }
}
